/*общие*/




@media (max-width: 1024px) {
body{
overflow-x: hidden;
width: 100%;
}






@media (max-width: 768px) {
/*навигация и брендинг*/
.navbar-brand>span{
display: none;
}
.black_white_logo {
display: block;
width: 45px;
height: 45px;
margin: auto;
}
.navbar-brand{
width: 100vw;
display: block;
}

.navbar-toggle {
position: absolute;
left: 0;
top: 30px;
float: none;
padding: 0;
margin-top: 0;
margin-right: 0;
margin-bottom: 0;
background-color: transparent;
border: none;
border-radius: none;
font-family: 'Montserrat-Bold';
font-size: 18px;
/*  font-weight: bold;*/
font-stretch: normal;
font-style: normal;
line-height: normal;
letter-spacing: normal;
color: #000;
text-transform: uppercase;
cursor: pointer;
}

/*футер */

.footer_text{
font-family: Montserrat;
font-size: 10px;
font-weight: 300;
font-stretch: normal;
font-style: normal;
line-height: normal;
letter-spacing: normal;
color: #dbd5c9;
}
/*Главная страница*/
.video
{
width: 200%;
-webkit-transform: rotate(-90deg);
-ms-transform: rotate(-90deg);
transform: rotate(-90deg);
margin-left: -50%;
}
.main__activity {
font-size: 1rem;
font-weight: 800;
line-height: 2.19;
letter-spacing: 0.08px;
}
/*
Второй блок главной */
.main_second_section {
padding-top: 108px;
padding-bottom: 70px;    
}
.main_second_section_rabbit {
display: none;
}
.main_second_section_text {
font-size: 23px;
line-height: 1.35;
letter-spacing: 0.2px;
color: #f3ead5;
display: inline;
text-transform: uppercase;
float: right;
}
/*Главная новости*/
.main_news_section {
padding-top: 42px;
padding-bottom: 53px;
}
.main_news_section__title {
font-size: 40px;
line-height: 2.23;
letter-spacing: 0.25px;
}
.main_news_section_newstitle {
font-size: 20px;
line-height: 1.2;
text-align: center;
margin-top: 27px;
margin-bottom: 60px;
display: block;
}
.main_news_line{
display: block;
margin-bottom: 30px;
}
.main_news_line>.col-md-7{
display: block;
}
}

/*404*/
@media (max-width: 1024px) {
.container{
padding-left: 15px;
padding-right: 15px;
}
.chat_box.no_page>.chat_box_content {
  width: 220px;
  height: 66px;
}

.chat_box.no_page{
right: 0;	
}


.chat_box.no_page>.chat_box_content>span {
font-size: 12px;
}
.chat_box.no_page{
max-width: 220px;
height: 66px;
}
.in_dev {
max-width: 424px;
font-size: 16px;
line-height: 1.63;
margin-bottom: 85px;
}
a.back_to_main_page {
font-size: 30px;
}
}
@media (max-width: 768px) {
.in_dev {
margin-bottom: 80px;
}
a.back_to_main_page {
font-size: 20px;
}
.rab_no_page {
margin-left: 0;
margin-bottom: 41px;
}
}


/*Агентство*/
@media (max-width: 1024px) {
.desktop {
display: none;
}
}
@media (max-width: 768px) {
.agency__title {
font-size: 33px;
line-height: 1.21;
letter-spacing: 0.16px;
margin-top: 51px;
margin-bottom: 70px;
}
.agency__title>span {
font-size: 33px;
display: block;
text-align: right;
margin-top: 20px;
}
.agency_first_block {
font-size: 16px;
line-height: 1.63;
color: #f3ead5;
max-width: 100%;
margin-bottom: 30px;
}


.agency_flex_box {
 display: -webkit-box;
        display: -moz-box;
        display: box;
        
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        box-orient: vertical;
 
}
.first {
   -webkit-box-ordinal-group: 2;
        -moz-box-ordinal-group: 2;
        box-ordinal-group: 2;
}
.second {
-webkit-box-ordinal-group: 3;
        -moz-box-ordinal-group: 3;
        box-ordinal-group: 3;
}
.third {
-webkit-box-ordinal-group: 1;
        -moz-box-ordinal-group: 1;
        box-ordinal-group: 1;
        text-align: right;
}

.agency_rabbit{
margin-bottom: 52px;
display: block;
}

.chat_box.agency {
    margin-top: 52px;
    display: inline-block;
    float: left;
}


.agency_main_stream {
font-size: 33px;
line-height: 1.21;
letter-spacing: 0.16px;
text-transform: uppercase;
color: #000;
margin-bottom: 50px;
}




.agency_founders {
font-size: 20px;
text-align: center;
line-height: 4.45;
letter-spacing: 0.17px;
margin-top: 48px;
}


.worker_name {
font-size: 30px;
}


.worker_position {
font-size: 20px;
margin-bottom: 30px;
}

.worker_name.below {
margin-top: 40px;
}

.worker_photo.below{
margin-bottom: 78px;
}

.worker_photo img{

display: block;
margin: auto;
height: 400px;
max-width: 345px;

}

.job_activity_menu {
margin-bottom: 50px;
overflow: hidden;
display: flex;
flex-wrap: nowrap;
}


.agency_process_menu{
  font-size: 20px;	
}

.agency_process_menu.active {
width: 70vw;
display: inline-block;
max-width: 275px;
min-width: 200px;
}


.agency_process_menu{
box-sizing: border-box;
padding-top: 6px;
/*padding-bottom: 26px;*/
line-height: 75px;
height: 75px;
}

.agency_process_list>li {
    font-size: 14px;
    line-height: 2.36;
}
.agency_process_list_text {
    font-size: 16px;
    line-height: 1.5;

    margin-left: 20%;
}


.panels_content{
height: 100%;
    margin-bottom: 80px;
}




.agency_process_title {
display: none;
}





}



